###############################################################################
#                             Function to Check Command Existence            #
###############################################################################
command_exists() {
    command -v "$1" >/dev/null 2>&1
}

###############################################################################
#                                       GIT                                   #
###############################################################################
alias gf='git fetch'
alias gs='git status'
alias ga='git add'
alias gaa='ga --all'
alias gc='git commit -m'
alias gaac='gaa && gc'
gac() {
    local message="$1"
    shift
    git add "$@" && git commit -m "$message"
}
# alias amend='git commit -a --amend --no-edit'
alias gpf='git pull --ff-only'
alias gpr='git pull --rebase'
alias gp='git push'
alias gg="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all"
alias gg2="git log --graph --date-order --date=short \--pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)'"
# alias gw='git switch'
# alias gwm='gw main'
# alias gwd='gw dev'
# - git fop = git fetch origin --prune
# - git mofo = git merge origin/master --ff-only
# - git edit = git commit --amend
# - git forgot = git edit --no-edit
# - git hist = git log --one-line -10
# - git dw = git diff -w
# - git dws = git dw --staged
# - git swh = git show -w HEAD
# alias gco='git checkout'
# alias gb='git branch'
# alias gba='git branch --all'
# alias gbd='git branch -D'
# alias gcp='git cherry-pick'
# alias gd='git diff -w'
# alias gds='git diff -w --staged'
# alias grs='git restore --staged'
# alias gst='git rev-parse --git-dir > /dev/null 2>&1 && git status || exa'
# alias gu='git reset --soft HEAD~1'
# alias gpr='git remote prune origin'
# alias ff='gpr && git pull --ff-only'
# alias grd='git fetch origin && git rebase origin/master'
# alias gbb='git-switchbranch'



###############################################################################
#                             Navigation & Search                             #
###############################################################################
alias goto='cd'
if command_exists z; then
  alias cd='z'
  alias goto='z'
fi
alias gor="cd -"            # Go return to prev visited dir
alias goh='cd ~/LC'
alias gop='cd ~/LC/2_Areas/Programming_Projects'
alias gos='cd ~/LC/2_Areas/Academics/AUI\ University/6th\ Semester'
alias godw="cd ~/Downloads" # Go to Downloads
alias gods="cd ~/Desktop"   # Go to Downloads
alias godc="cd ~/Documents" # Go to Downloads
alias gofh='open ~/LC'
alias gofp='open ~/LC/2_Areas/Programming_Projects'
alias gofs='open ~/LC/2_Areas/Academics/AUI\ University/6th\ Semester'
alias gofdw="open ~/Downloads" # Go to Downloads
alias gofds="open ~/Desktop"   # Go to Downloads
alias gofdc="open ~/Documents" # Go to Downloads
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias ls='ls -l'
if command_exists eza; then
    alias ls="eza --color=always --long --git --no-filesize --icons=always --no-time --no-user --no-permissions"
    alias lt="ls --tree --level=3"

fi
alias la="ls -a"



###############################################################################
#                              Editors & Languages                            #
###############################################################################
alias c='clear'
alias clr='clear'
if command_exists bat; then
  alias cat='bat'
fi
if command_exists nvim; then
  alias vim='nvim'
  alias vi='nvim'
fi
alias python='python3'
alias pip='pip3'



###############################################################################
#                                    Packages                                 #
###############################################################################
if command_exists brew; then
  alias hbs="brew search"
  alias hbi="brew install"
  alias hbl="brew list"
  alias hbu="brew uninstall"
  alias hbn="brew info"
  # Update/upgrade Homebrew and their installed packages
  alias update_brew='brew update; brew upgrade; brew upgrade --cask; brew cleanup'
fi

