[user]
	name = LChikry
	email = LChikry@gmail.com

[init]
	# Set default branch name when creating repos as main
	defaultBranch = main

[pull]
	ff = only

[merge]
    conflictstyle = zdiff3

[core]
	# Use delta diff instead of git diff
	pager = delta

	# Setting global gitignore file
	excludesfile = ~/.gitignore
	
	# Setting default editor as VS Code
	editor = code --wait

	# Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[diff]
    tool = default-difftool
	colorMoved = default

[difftool "default-difftool"]
    cmd = code --wait --diff -w $LOCAL $REMOTE

[color]
	# Use colors in Git commands that are capable of colored output
	ui = auto

[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1

[delta]
    navigate = true  # use n and N to move between diff sections
	side-by-side = true

[interactive]
    diffFilter = delta --color-only


    

